@import "~bootstrap/scss/bootstrap";

$bg-primary: white;
$bg-secondary: #141418;
$textPrimary: #b6b6b6;
$textSecondary: #ececec;
$border: rgba(17, 17, 26, 0.1);
$topNavHeight: 3.5rem;

:root {

}

body {
    font-family: Helvetica, Arial, sans-serif;
}

input[type=text] {
    width: 80%;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body::-webkit-scrollbar {

}

body::-webkit-scrollbar-track {

}

body::-webkit-slider-thumb {

}

.topnav {
    transition: box-shadow ease 0.5s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-direction: row;
    justify-content: left;
}

.topnav:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.task {
    margin-left: 10rem;
    margin-right: 20rem;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project {
    margin-left: 4vw;
}

.nav-item {
    min-width: 12vw;
    margin: 0 1vw
}

.task > h3 {
    cursor: pointer;
}

.task p {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.taskDescription {
    cursor: pointer;
}

.desc-saveBtn {
    width: 20%;
}

.check {
    cursor: pointer;
}

.dragging {
    opacity: 0.5;
}

.projectSelector {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    overflow: hidden;
    transition: all 0.1s ease;
    background-color: #636363;
    border: 2px solid #414040;
    padding: 10px;
}

.projectSelector:hover {
    color: #fff;
    border-left: 5px solid rgb(0, 201, 0);
    font-weight: 700;
}

.projectSelector:active {
    transform: translate(1px, 4px);
}

.projectSelector:first-of-type {
    margin-top: 20px;
}

.descriptionInput {
    font-size: 16px;
}

.prioritySelector {
    font-size: 16px;
    margin-left: 10px;
    height: 20px;
}

.dueDate {
    font-size: 16px;
    padding: 2px;
    height: 20px;
}

.newProjectInput {
    height: 30px;
    font-size: 16px;
}

.controlWrapper {
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 15rem;
    background-color: rgb(99, 99, 99);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
}

#sidebar button {
    width: 100%;
    margin-top: 0.5rem;
}

#content {
    margin-left: 15rem;
}

#titleContainer {
    margin-left: 3rem;
    margin-top: 1rem;
}

#projectControls button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

#projectControls:hover button {
    visibility: visible;
    opacity: 1;
}